.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 0.2s;
    // position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
    align-items: center;
    color: $color-grey-800;
  }

  &--primary {
    background-color: $color-secondary;
    color: $color-white-1 !important;
  }

  &--secondary {
    // background-color: transparent;
    color: $color-secondary !important;
    border: 1px solid $color-secondary !important;

    &:hover {
      background-color: $color-secondary;
      color: $color-white-1 !important;
    }
  }
}

.active {
  color: $color-primary;
  font-weight: 700;
}
